<div class="card" style="max-width: 300px; margin-left: auto; margin-right: auto; margin-top: 50px;">
  <h5 class="card-header">Calculator</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <label>First Number</label>
        <input type="number" [(ngModel)]="value1" class="form-control" placeholder="Value 1" aria-label="Username" aria-describedby="basic-addon1" style="text-align:right;">
      </div>
      <div class="col-sm-12 mt-2">
        <label>Second Number</label>
        <input type="number" [(ngModel)]="value2" class="form-control" placeholder="Value 2" aria-label="Username" aria-describedby="basic-addon1" style="text-align:right;">
      </div>
      <div class="col-sm-5 mt-3">
        <strong> Result: </strong>
      </div>
      <div class="col-sm-6 mt-3 " style="text-align:right;" >
        <strong> {{ sum }}</strong>
      </div>
    </div>
  </div>
      <div class="card-footer text-muted mt-2">
        <button class="btn btn-primary" (click)="getSum()">Add Numbers</button>
      </div>
</div>
